/* ----------------------------------------Code Institute Milestone-1 - Evert Rot*/

/* Classes and id's that start with 'er-' are my own */

@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro:100,200,300,400,500,600,700,800,900&display=swap');
@import url('https://fonts.googleapis.com/css?family=Allerta+Stencil&display=swap');
html {
    scroll-behavior: smooth;
}

body {
    max-width: 100vw;
    background-image: url("../images/front-transpa.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-origin: content-box;
    font-family: 'Source Code Pro', monospace;
    font-size: 1.1rem;
    color: rgba(60, 60, 60);
}

.container-fluid {
    padding-left: 0px;
    padding-right: 0px;
    max-width: 1920px;
}

.row {
    margin: 0;
}

p {
    text-align: justify;
    font-weight: 600;
}

a, img {
    text-decoration: none;
    transition: all .200s ease-in-out;
    -webkit-transition: all .200s ease-in-out;
    -moz-transition: all .200s ease-in-out;
    -ms-transition: all .200s ease-in-out;
    -o-transition: all .200s ease-in-out;
}

a:hover {
    text-decoration: none;
}

a:active {
    text-shadow: 0px 0px 6px rgba(255, 255, 255, 0.5);
}

h1, h3 {
    font-family: 'Source Code Pro', monospace;
    text-align: center;
    font-size: 1em;
    margin: 25px;
}

h2 {
    /* Used in the content header */
    margin-right: 15px;
    font-family: 'Allerta Stencil', sans-serif;
    font-weight: 100;
    font-size: 1.7em;
    letter-spacing: 0px;
    text-shadow: 1px 1px 1px #ffffffa1;
    color: rgba(207, 190, 160);
}

h4 {
    font-family: 'Source Code Pro', monospace;
    text-align: left;
    font-weight: 400;
    font-size: 2em;
    margin-bottom: 25px;
    margin-left: 25px;
}

h5 {
    color: rgba(255, 255, 255, 0.9);
    text-align: center;
    padding-bottom: 0.5em;
}

iframe {
    width: 100%;
}

/* ----------------------------------------Navbar/header */

.er-title {
    margin: auto;
}

.navbar {
    padding: 0px 0px;
}

nav {
    min-height: 4em;
    background-color: rgba(60, 60, 60);
    color: white;
}

.er-brand a {
    font-size: 1.2em;
    margin-left: 25px;
    color: rgba(255, 255, 255, 0.8);
}

.er-brand a:hover {
    color: rgba(255, 255, 255, 0.99);
}

.er-brand a:active {
    color: rgba(255, 255, 255, 0.3);
}

.er-nav-icons {
    letter-spacing: 0.8em;
    -ms-transform: translateX(0.5em);
    -webkit-transform: translateX(0.5em);
    transform: translateX(0.5em);
    margin-left: auto;
    margin-right: auto;
}

.er-nav-icons a {
    color: rgba(255, 255, 255, 0.8);
}

.er-nav-icons a:hover {
    color: rgba(255, 255, 255);
}

.er-nav-icons a:active {
    color: rgba(255, 255, 255, 0.2)!important;
}

.er-menu-icon {
    font-size: 1.6em;
    text-align: center;
}

.er-menu-icon a {
    text-shadow: 0px 0px 7px rgba(178, 43, 43, 0.2);
}

.er-menu-icon a:hover {
    font-size: 1.1em;
    text-shadow: 0px 0px 7px rgba(178, 43, 43, 0.1);
}

.er-menu-icon-arrow a {
    color: rgba(255, 255, 255, 0.4);
}

.er-nav-boembep {
    position: absolute;
    left: 50vw;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    letter-spacing: 8px;
    font-weight: 300;
    color: rgba(255, 255, 255);
}

.er-nav-boembep h2 {
    text-shadow: 0px 0px 7px rgba(178, 43, 43, 0.9);
}

/* ----------------------------------------Section-colors */

#frontpage {
    position: relative;
    top: -4em;
    min-height: 100vh;
    /* extra background because the fixed one doesn't show on chrome mobile */
    background-image: url("../images/front-transpa.png");
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: scroll;
    background-origin: content-box;
    background-size: contain;
}

#about {
    background-color: rgba(207, 190, 160, 0.92);
}

#stream {
    background-color: rgba(207, 190, 160, 0.92);
}

#download {
    background-color: rgba(207, 190, 160, 0.92);
}

#art {
    background-color: rgba(207, 190, 160, 0.92);
}

#video {
    background-color: rgba(207, 190, 160, 0.92);
}

/* ----------------------------------------Section template with scroll snapping to top of each page */

.er-content {
    scroll-snap-align: start;
    width: 100%;
    margin: 0;
}

.er-content img {
    width: 100%;
}

/* ----------------------------------------Section content */

.er-content-wrapper {
    width: 100%;
    margin: auto;
    padding-top: 3em;
    min-height: 60vh;
}

/* ----------------------------------------Section Content building blocks */

.er-content-block {
    margin: 2em 0 2em 0;
    width: 100%;
}

.er-content-circle {
    width: 66%;
    height: auto;
    margin: auto;
    overflow: hidden;
    border-radius: 50%;
}

.er-content-square {
    padding: 15px;
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    background-color: rgba(60, 60, 60, 0.1);
    -webkit-box-shadow: 0px 0px 25px rgba(60, 60, 60);
    box-shadow: 0px 0px 25px rgba(60, 60, 60);
}

/* ----------------------------------------Section header and footer */

.er-content-header {
    margin-top: 5em;
    margin-bottom: 2em;
    text-align: right;
    width: 100%;
    height: 2em;
    overflow: hidden;
    line-height: 2em;
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-box-shadow: 1px 1px 1px #ffffffa1;
    box-shadow: 1px 1px 1px #ffffffa1;
    background-color: rgba(255, 255, 255, 0.61);
}

.er-content-footer {
    text-align: left;
    width: 100%;
    height: 2em;
    overflow: hidden;
    line-height: 2em;
    margin-top: 0em;
    margin-bottom: 2em;
    -webkit-box-shadow: 5px 5px 5px #a59172;
    box-shadow: 5px 5px 5px #a59172;
    -webkit-transform: rotate(-1deg);
    -ms-transform: rotate(-1deg);
    transform: rotate(-1deg);
    background-color: rgba(0, 0, 0, 0.7);
}

.er-footer-text {
    margin-right: 15px;
    margin-left: 15px;
    font-family: 'Allerta Stencil', sans-serif;
    font-size: 1.5em;
    font-weight: 100;
    letter-spacing: 0px;
    text-shadow: 1px 1px 2px #000000a1;
    color: rgba(207, 190, 160);
}

/* ----------------------------------------Overlay section navigation */

.er-centerscreen {
    z-index: 23;
    position: absolute;
    top: 5.5em;
    right: 1em;
    color: rgba(60, 60, 60, 0.4);
}

.er-centerscreen a {
    color: rgba(60, 60, 60, 0.3);
}

.er-centerscreen a:hover {
    font-size: 1.1em;
    color: rgba(60, 60, 60);
}

.er-centerscreen a:active {
    color: rgba(60, 60, 60, 0.1);
}

.er-arrow {
    z-index: 23;
    position: absolute;
    right: 1em;
    color: rgba(178, 43, 43, 0.7);
}

.er-arrow a {
    color: rgba(178, 43, 43, 0.6);
}

.er-arrow a:hover {
    font-size: 1.1em;
    color: rgba(178, 43, 43, 0.9);
}

.er-arrow a:active {
    color: rgba(60, 60, 60, 0.1);
}

.er-arrow-up {
    top: 84vh;
}

.er-arrow-down {
    top: 92vh;
}

.er-arrow-frontpage {
    top: 84vh;
}

/* ----------------------------------------Social icons left side */

.er-social {
    z-index: 23;
    margin-top: auto;
    margin-bottom: auto;
    text-align: center;
    color: rgba(60, 60, 60, 0.7);
}

.er-social a {
    color: rgba(60, 60, 60, 0.8);
}

.er-social a:hover {
    font-size: 1.1em;
}

.er-social a:active {
    color: rgba(60, 60, 60, 0.1)!important;
}

#er-social-first {
    top: 13vh;
}

#er-social-second {
    top: 26vh;
}

#er-social-third {
    top: 39vh
}

#er-social-fourth {
    top: 52vh;
}

#er-social-sixth {
    top: 81vh;
}

#er-social-sixth img {
    width: 55px;
    margin: 0px;
    margin-top: 8px;
    left: 3vw;
}

#er-social-sixth img:hover {
    width: 57px;
}

#er-social-fifth {
    top: 65vh;
}

/* ----------------------------------------Social icons horizontal (mobile) */

.er-social-mobile {
    overflow: hidden;
    padding-right: 1em;
    padding-bottom: 1em;
    max-width: 100%;
    z-index: 23;
    margin-left: auto;
    margin-right: auto;
}

.er-social-mobile a {
    color: rgba(60, 60, 60, 0.8);
}

.er-social-facebook a:hover {
    color: rgba(61, 91, 153)!important;
}

.er-social-insta a:hover {
    color: rgba(224, 80, 95)!important;
}

.er-social-soundcloud a:hover {
    color: rgb(225, 85, 0)!important;
}

.er-social-youtube a:hover {
    color: rgba(255, 0, 0)!important;
}

.er-social-shopping a:hover {
    color: rgba(249, 212, 108, 0.9)!important;
}

.er-social-dutchgems img {
    width: 40px;
    margin-right: 30px;
}

.er-social-dutchgems img:hover {
    width: 41px;
}

/* ----------------------------------------Frontpage section specifics */

.er-sticker {
    position: absolute;
    top: 14vh;
    right: 10vw;
    width: 75px;
    height: 75px;
    border-radius: 50%;
    -webkit-box-shadow: -4px 2px 7px rgba(60, 60, 60);
    box-shadow: -4px 2px 7px rgba(60, 60, 60);
    -webkit-animation: sticker 2s ease 1 normal;
    -moz-animation: sticker 2s ease 1 normal;
    -ms-animation: sticker 2s ease 1 normal;
    -o-animation: sticker 2s ease 1 normal;
    animation: sticker 2s ease 1 normal;
}

@-webkit-keyframes sticker {
    from {
        top: 110vh;
    }
    to {
        top: 14vh;
    }
}

@-moz-keyframes sticker {
    from {
        top: 110vh;
    }
    to {
        top: 14vh;
    }
}

@-ms-keyframes sticker {
    from {
        top: 110vh;
    }
    to {
        top: 14vh;
    }
}

@-o-keyframes sticker {
    from {
        top: 110vh;
    }
    to {
        top: 14vh;
    }
}

@keyframes sticker {
    from {
        top: 110vh;
    }
    to {
        top: 14vh;
    }
}

.er-button {
    font-size: 1em;
    color: rgba(60, 60, 60);
    margin-bottom: 12px;
    padding: 12px 30px 12px 30px;
    border-color: rgba(60, 60, 60);
    border: 1px;
    border-radius: 10px;
    -webkit-box-shadow: -4px 2px 7px rgba(60, 60, 60);
    box-shadow: -4px 2px 7px rgba(60, 60, 60);
    background-color: rgba(255, 255, 255, 0.83);
    transition: all .150s ease-in-out;
    -webkit-transition: all .150s ease-in-out;
    -moz-transition: all .150s ease-in-out;
    -ms-transition: all .150s ease-in-out;
    -o-transition: all .150s ease-in-out;
}

.er-button:hover {
    font-size: 1.2em;
}

.er-button:active {
    font-size: 1.5em;
    outline: 0!important;
    color: rgba(255, 255, 255);
    background-color: rgba(60, 60, 60);
    -webkit-box-shadow: 0px 0px 25px rgba(60, 60, 60);
    box-shadow: 0px 0px 25px rgba(60, 60, 60);
}

.er-frontpage-download {
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    left: 51.5vw;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    top: 52vh;
    text-align: center;
    -webkit-animation: download 2s ease 1 normal;
    -moz-animation: download 2s ease 1 normal;
    -ms-animation: download 2s ease 1 normal;
    -o-animation: download 2s ease 1 normal;
    animation: download 2s ease 1 normal;
}

@-webkit-keyframes download {
    from {
        top: 110vh;
    }
    to {
        top: 52vh;
    }
}

@-moz-keyframes download {
    from {
        top: 110vh;
    }
    to {
        top: 52vh;
    }
}

@-ms-keyframes download {
    from {
        top: 110vh;
    }
    to {
        top: 52vh;
    }
}

@-o-keyframes download {
    from {
        top: 110vh;
    }
    to {
        top: 52vh;
    }
}

@keyframes download {
    from {
        top: 110vh;
    }
    to {
        top: 52vh;
    }
}

/* ----------------------------------------About section specifics */

.er-content-image {
    margin-left: 25px;
    overflow: hidden;
    width: 200px;
    height: 200px;
    border: 0px;
    border-radius: 3px;
    -webkit-box-shadow: 5px 5px 5px #a59172;
    box-shadow: 5px 5px 5px #a59172;
    float: right;
    -webkit-transform: rotate(7deg);
    -ms-transform: rotate(7deg);
    transform: rotate(7deg);
}

/* ----------------------------------------Download section specifics */

#flac {
    text-align: right;
    margin-right: 25px;
}

.er-file-download {
    font-size: 0.8em;
    text-align: left;
    margin-bottom: 0.5em;
    font-weight: 700;
    color: rgba(60, 60, 60);
    background-color: rgba(60, 60, 60, 0.15);
}

.er-file-download a {
    color: rgba(60, 60, 60, 0.8);
}

.er-file-download a:hover {
    color: rgba(173, 33, 33, 0.95);
    font-size: 1.01em;
}

.er-file-download a:active {
    color: rgba(60, 60, 60, 0.2);
}

.er-zip-download {
    margin: 20px 0 20px 0;
    font-size: 1.2em;
    font-weight: 500;
    text-align: center;
}

.er-tip-download {
    width: 100%;
    padding-right: 15px;
    margin-bottom: 1em;
    text-shadow: 1px 1px 1px #ffffffa1;
    color: rgba(60, 60, 60);
    font-size: 80%;
    font-weight: 300;
    text-align: right;
    -webkit-box-shadow: 1px 1px 1px #ffffffa1;
    box-shadow: 1px 1px 1px #ffffffa1;
    background-color: rgba(255, 255, 255, 0.61);
}

.er-tip-right {
    text-align: right;
    padding-left: 15px;
}

.er-file-tip {
    color: rgba(0, 0, 0, 0.7);
    font-size: 0.9em;
}

.er-file-tip a {
    color: rgba(0, 0, 0, 0.4);
    font-size: 0.9em;
}

.er-file-tip a:hover {
    color: rgba(0, 0, 0);
    font-size: 1.2em;
}

/* ----------------------------------------Video section specifics */

/* --------Create responsive 16:9 aspect ratio iframe (css-tricks.com)*/

.er-content-video {
    width: 100%;
    height: 100%;
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 25px;
    height: 0;
}

.er-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#er-content-video-square {
    margin-left: auto;
    margin-right: auto;
    width: 90%;
}

/* ----------------------------------------Art section specifics */

#er-image-slider {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

/* ----------------------------------------Back cover specifics */

/* ----------------------------------------Scrolling image section dividers */

.er-scroll-image {
    width: 100vw;
    height: 40vh;
    background-color: rgba(207, 190, 160, 0.92);
    background-position: center center;
    background-attachment: fixed;
    background-size: 100% auto;
    background-repeat: no-repeat;
}

#er-scroll-first {
    background-image: url("../images/inside-right.jpg");
}

#er-scroll-second {
    background-image: url("../images/inside-left.jpg");
}

#er-scroll-third {
    background-image: url("../images/inlay-breehuys.jpg");
}

#er-scroll-fourth {
    background-image: url("../images/inlay-kese.jpg");
}

#back-cover {
    min-height: 100vh;
    background: url("../images/cover-back.jpg") no-repeat fixed center;
    background-size: contain;
}

/* ----------------------------------------Footer */

.er-social-footer a {
    color: rgba(255, 255, 255, 0.8);
}

.er-content-thirds {
    text-align: center;
}

.er-footer-right {
    right: 1vw;
    position: absolute;
    top: 19vh;
}

.er-footer-commons {
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
    color: yellow;
    margin-left: auto;
    margin-right: auto;
}

.er-footer {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding: 5em 2em 3em 2em;
    min-height: 100vh;
    /* This will match the colour of the navigation bar while being transparent */
    background-color: rgba(51, 49, 49, 0.95);
}

.er-footer a {
    color: rgba(255, 255, 255, 0.8);
}

.er-footer a:hover {
    color: rgba(255, 255, 255);
}

.er-footer a:active {
    color: rgba(255, 255, 255, 0.3);
}

.er-footer-block {
    padding: 10px;
    text-align: center;
}

.er-footer-block img {
    margin: 25px auto 10px auto;
}

.er-footer-title {
    font-size: 70%;
    font-weight: 300;
    color: rgba(255, 255, 255, 0.6);
}

.er-footer-credit {
    font-size: 0.9em;
    font-weight: 300;
    color: rgba(255, 255, 255);
}

.er-footer-block a {
    color: rgba(255, 255, 255, 0.8);
}

.er-footer-block a:hover {
    color: rgba(255, 255, 255);
    font-size: 0.92em;
}

.er-footer-block a:active {
    color: rgba(255, 255, 255, 0.2);
}

.er-footer-credit {
    color: rgba(255, 255, 255, 0.8);
}

form {
    padding: 25px 15px 25px 15px;
    color: rgba(255, 255, 255, 0.8);
}

::-webkit-input-placeholder {
    font-size: 0.8em;
    color: rgba(60, 60, 60, 0.5);
}

::-moz-placeholder {
    font-size: 0.8em;
    color: rgba(60, 60, 60, 0.5);
}

:-ms-input-placeholder {
    font-size: 0.8em;
    color: rgba(60, 60, 60, 0.5);
}

::-ms-input-placeholder {
    font-size: 0.8em;
    color: rgba(60, 60, 60, 0.5);
}

::placeholder {
    font-size: 0.8em;
    color: rgba(60, 60, 60, 0.5);
}

.er-form {
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    font-size: 0.7em;
    width: 20em;
    border: 2px solid rgba(255, 255, 255, 0.4);
    border-radius: 10px;
}

.er-form-item {
    padding: 3px;
}

.er-form-button {
    width: 100%;
}

.er-form-button:active {
    outline: 0!important;
    -webkit-box-shadow: 0px 0px 25px rgba(60, 60, 60);
    box-shadow: 0px 0px 25px rgba(60, 60, 60);
}

/* ----------------------------------------Responsive breakpoints */

/* --------------------------576 - SM */

@media(min-width: 576px) {
    body {
        -ms-scroll-snap-type: y proximity;
        scroll-snap-type: y proximity;
    }
    h2 {
        letter-spacing: 5px;
    }
    .er-nav-icons {
        letter-spacing: 1.5em;
        -ms-transform: translateX(0.9em);
        -webkit-transform: translateX(0.9em);
        transform: translateX(0.9em);
    }
    .er-footer-text {
        letter-spacing: 5px;
    }
    .er-sticker {
        right: 8vw;
        top: 10vh;
        width: 125px;
        height: 125px;
    }
    @-webkit-keyframes sticker {
        from {
            top: 110vh
        }
        to {
            top: 10vh;
        }
    }
    @-moz-keyframes sticker {
        from {
            top: 110vh
        }
        to {
            top: 10vh;
        }
    }
    @-ms-keyframes sticker {
        from {
            top: 110vh
        }
        to {
            top: 10vh;
        }
    }
    @-o-keyframes sticker {
        from {
            top: 110vh
        }
        to {
            top: 10vh;
        }
    }
    @keyframes sticker {
        from {
            top: 110vh
        }
        to {
            top: 10vh;
        }
    }
}

/* --------------------------768 - MD */

@media(min-width: 768px) {
    body {
        font-size: 1.2rem;
    }
    .er-nav-icons {
        letter-spacing: 1em;
        -ms-transform: translateX(0);
        -webkit-transform: translateX(0);
        transform: translateX(0);
        position: absolute;
        right: 0px;
        margin-right: 25px;
    }
    .er-content {
        min-height: 100vh;
    }
    .er-frontpage-download {
        top: 56vh;
    }
    @-webkit-keyframes download {
        from {
            top: 110vh;
        }
        to {
            top: 56vh;
        }
    }
    @-moz-keyframes download {
        from {
            top: 110vh;
        }
        to {
            top: 56vh;
        }
    }
    @-ms-keyframes download {
        from {
            top: 110vh;
        }
        to {
            top: 56vh;
        }
    }
    @-o-keyframes download {
        from {
            top: 110vh;
        }
        to {
            top: 56vh;
        }
    }
    @keyframes download {
        from {
            top: 110vh;
        }
        to {
            top: 56vh;
        }
    }
    .er-content-header {
        line-height: 2em;
        height: 2em;
    }
    .er-content-footer {
        line-height: 2em;
        height: 2em;
    }
    h2 {
        margin-right: 15px;
        font-size: 2em;
        letter-spacing: 5px;
    }
    .er-footer-text {
        margin-right: 15px;
        font-size: 2em;
        letter-spacing: 5px;
    }
}

/* --------------------------992 - LG */

@media(min-width: 992px) {
    p {
        margin-right: 50px;
    }
    .er-content-wrapper {
        width: 90%;
    }
    .er-sticker {
        top: 12vh;
        right: 6vw;
        width: 150px;
        height: 150px;
    }
    @-webkit-keyframes sticker {
        from {
            top: 110vh
        }
        to {
            top: 12vh;
        }
    }
    @-moz-keyframes sticker {
        from {
            top: 110vh
        }
        to {
            top: 12vh;
        }
    }
    @-ms-keyframes sticker {
        from {
            top: 110vh
        }
        to {
            top: 12vh;
        }
    }
    @-o-keyframes sticker {
        from {
            top: 110vh
        }
        to {
            top: 12vh;
        }
    }
    @keyframes sticker {
        from {
            top: 110vh
        }
        to {
            top: 12vh;
        }
    }
    .er-content-header {
        margin-top: 0em;
        width: 66%;
        margin-left: 33%;
        line-height: 2.5em;
        height: 2.5em;
    }
    .er-content-footer {
        text-align: left;
        width: 65%;
        margin-top: 2.5em;
        margin-right: 32%;
        line-height: 2.5em;
        height: 2.5em;
    }
    h2 {
        margin-right: 15px;
        font-size: 2em;
        letter-spacing: 3px;
    }
    .er-footer-text {
        margin-right: 15px;
        font-size: 2em;
        letter-spacing: 3px;
    }
    .er-content-block {
        margin: 0;
        width: 100%;
    }
    .er-content-circle {
        width: 100%;
        border-radius: 50%;
        position: relative;
        top: 50%;
        -webkit-box-shadow: 5px 5px 5px #a59172;
        box-shadow: 5px 5px 5px #a59172;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
    }
    .er-social {
        position: fixed;
        z-index: 1;
        left: 3vw;
        -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        transform: translateX(-50%);
        overflow-x: hidden;
        height: 100%;
        text-align: center;
        color: rgba(60, 60, 60, 0.7);
    }
    .er-footer {
        width: 87vw;
    }
    .er-footer-content {
        position: relative;
        top: 50vh;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
    }
    .er-button {
        font-size: 1.5em;
    }
    .er-button:hover {
        font-size: 1.7em;
    }
    .er-button:active {
        font-size: 1.9em;
    }
    .er-form {
        top: 10em;
        font-size: 0.7em;
    }
}

/* --------------------------1200 - XL */

@media(min-width: 1200px) {
    .er-content-header {
        line-height: 3em;
        height: 3em;
    }
    .er-content-footer {
        line-height: 3em;
        height: 3em;
    }
    h2 {
        font-size: 2.5em;
        letter-spacing: 5px;
    }
    .er-footer-text {
        font-size: 2.5em;
        letter-spacing: 5px;
    }
    #er-social-sixth img {
        width: 75px;
    }
    #er-social-sixth img:hover {
        width: 77px;
    }
    .er-sticker {
        top: 15vh;
        right: 6vw;
        width: 175px;
        height: 175px;
    }
    @-webkit-keyframes sticker {
        from {
            top: 110vh
        }
        to {
            top: 15vh;
        }
    }
    @-moz-keyframes sticker {
        from {
            top: 110vh
        }
        to {
            top: 15vh;
        }
    }
    @-ms-keyframes sticker {
        from {
            top: 110vh
        }
        to {
            top: 15vh;
        }
    }
    @-o-keyframes sticker {
        from {
            top: 110vh
        }
        to {
            top: 15vh;
        }
    }
    @keyframes sticker {
        from {
            top: 110vh
        }
        to {
            top: 15vh;
        }
    }
    #er-image-slider {
        width: 90%;
    }
}