/* ----------------------------------------Milestone-1 */

@import url('https://fonts.googleapis.com/css?family=Radley|Source+Code+Pro:100,300,500,900&display=swap');
@import url('https://fonts.googleapis.com/css?family=Allerta+Stencil&display=swap');
body {
    scroll-snap-type: y proximity;
    scroll-behavior: smooth;
    background: url("../images/front-transpa.png") no-repeat fixed center;
    background-size: contain;
    font-family: 'Source Code Pro', monospace;
}

.container-fluid {
    padding-left: 0px;
    padding-right: 0px;
}

.row {
    margin: 0;
}

p {
    text-align: justify;
}

h1, h4, h5 {
    font-family: 'Radley', sans-serif;
    text-align: center;
}

h2, h3 {
    font-family: 'Source Code Pro', monospace;
    text-align: center;
    font-size: 20px;
    margin: 25px;
}

/* ----------------------------------------Navbar/header */

.er-title {
    margin: auto;
}

.navbar {
    padding: 0px 0px;
}

nav, footer {
    height: 8vh;
    background-color: rgba(60, 60, 60);
    color: white;
}

.er-brand {
    margin-left: 25px;
}

.er-nav-icons {
    margin: auto;
}

.er-menu-icon {
    font-size: 2em;
}

.er-nav-boembep {
    position: absolute;
    left: 50vw;
    transform: translateX(-50%);
    letter-spacing: 8px;
    font-weight: 100;
}

/* ----------------------------------------Section-colors */

#frontpage {
    scroll-snap-align: none;
}

#info {
    background-color: rgba(207, 190, 160, 0.92);
}

#music {
    background-color: rgba(100, 100, 100, 0.96);
}

#download {
    background-color: rgba(223, 223, 223, 0.96);
}

#art {
    background-color: rgba(100, 100, 100, 0.96);
}

#video {
    background-color: rgba(223, 223, 223, 0.96);
}

/* ----------------------------------------Section template with snapping to top */

.er-content {
    min-height: 100vh;
    scroll-snap-align: start;
    width: 100%;
    margin: 0;
}

/* ----------------------------------------Section content */

.er-content-wrapper {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 8vh;
}

/* ----------------------------------------Section Content building blocks */

.er-content-block {
    margin: 3vh 0px 0px 0px;
    width: 100%;
    min-height: 60vh;

}

.er-sticker {
    position: absolute;
    top: 10vh;
    right: 8vw;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    box-shadow: -4px 2px 7px rgba(60, 60, 60);
}

.er-frontpage-download {
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    left: 51vw;
    transform: translate(-50%, -50%);
    top: 57vh;
    text-align: center;
}

.er-button {
    font-size: 3em;
    color: rgba(60, 60, 60);
    padding: 12px 30px 8px 30px;
    border-color: rgba(60, 60, 60);
    border: 1px;
    border-radius: 10px;
    box-shadow: -4px 2px 7px rgba(60, 60, 60);
    background-color: rgba(255, 255, 255, 0.83);
    transition-property: background-color;
    transition-duration: 120ms;
    transition-timing-function: ease-in-out;
}

.er-button:hover {
    color: rgba(255, 255, 255);
    background-color: rgba(60, 60, 60);
}

.er-button:active {
    outline: 0;
    color: rgba(255, 255, 255);
    background-color: rgba(60, 60, 60);
    box-shadow: 0px 0px 25px rgba(60, 60, 60);
}

.er-content-header {
    margin-top: 5vh;
    text-align: right;
    width: 66%;
    height: 6vh;
    overflow: hidden;
    line-height: 6vh;
    margin-left: 33%;
    transform: rotate(0deg);
    box-shadow: 1px 1px 1px #ffffffa1;
    background-color: rgba(255, 255, 255, 0.61);
}

.er-content-footer {
    text-align: left;
    width: 66%;
    height: 6vh;
    overflow: hidden;
    line-height: 6vh;
    margin-right: 33%;
    box-shadow: 5px 5px 5px #a59172;
    transform: rotate(-1deg);
    background-color: rgba(0, 0, 0, 0.7);
}

.er-header-text {
    margin-right: 15px;
    font-family: 'Allerta Stencil', sans-serif;
    font-weight: 100;
    font-size: 6vh;
    letter-spacing: 5px;
    text-shadow: 1px 1px 1px #ffffffa1;
    color: rgba(207, 190, 160);
}

.er-footer-text {
    margin-right: 15px;
    margin-left: 15px;
    font-family: 'Allerta Stencil', sans-serif;
    font-size: 5vh;
    font-weight: 100;
    letter-spacing: 5px;
    text-shadow: 1px 1px 2px #000000a1;
    color: rgba(207, 190, 160);
}

.er-content-left {
    width: 100%;
    margin: auto;
    overflow: hidden;
    border-radius: 50%;
    position: relative;
    top: 50%;
    box-shadow: 5px 5px 5px #a59172;
    transform: translateY(-50%);
}

.er-content-middle {
    height: 100%;
    padding: 0px;
    background-color: yellow;
}

.er-content-right {
    padding: 15px;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    /*   background-color: rgba(100, 100, 100, 0.3);  */
}

.er-content-image {
    margin-left: 25px;
    overflow: hidden;
    width: 200px;
    height: 200px;
    border: 0px;
    border-radius: 3px;
    box-shadow: 5px 5px 5px #a59172;
    float: right;
    transform: rotate(7deg);
}

.er-arrow {
    position: absolute;
    top: 86vh;
    height: 4vh;
    width: 100%;
}

.er-scroll-image {
    width: 99vw;
    height: 35vh;
    background: url("../images/cover-inside.jpg") no-repeat fixed center;
    background-size: cover;
}

footer {}

@media(min-width: 576px) {
    .er-nav-icons {
        position: absolute;
        right: 0px;
        margin-right: 25px;
    }
    .er-content-left {
        width: 65%;
    }
    @media(min-width: 992px) {
        p {
            margin-right: 50px;
        }
        .er-sticker {
            top: 20vh;
            right: 6vw;
            width: 150px;
            height: 150px;
        }
        .er-content-left {
            width: 100%;
        }
    }