/* ----------------------------------------Milestone-1 */

@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro:100,200,300,400,500,600,700,800,900&display=swap');
@import url('https://fonts.googleapis.com/css?family=Allerta+Stencil&display=swap');
html {
    scroll-behavior: smooth;
}

body {
    scroll-snap-type: y proximity;
    scroll-behavior: smooth;
    background: url("../images/front-transpa.png") no-repeat fixed center;
    background-size: contain;
    font-family: 'Source Code Pro', monospace;
    color: rgba(60, 60, 60);
}

.container-fluid {
    padding-left: 0px;
    padding-right: 0px;
    max-width: 1920px;
}

.row {
    margin: 0;
}

p {
    text-align: justify;
    font-weight: 600;
}

a, a:hover, a:active {
    color: rgba(255, 255, 255, 0.8);
    text-decoration: none;
    transition-property: all;
    transition-duration: 150ms;
    transition-timing-function: ease-in-out;
}

a:hover {
    color: rgba(255, 255, 255);
}

a:active {
    color: rgba(255, 255, 255, 0.3);
}

h1 {
    font-family: 'Source Code Pro', monospace;
    text-align: left;
    font-weight: 300;
    font-size: 2em;
    margin-bottom: 25px;
    margin-left: 25px;
}

h2 {
    font-family: 'Source Code Pro', monospace;
    text-align: center;
    font-size: 20px;
    margin: 25px;
}

/* ----------------------------------------Navbar/header */

.er-title {
    margin: auto;
}

.navbar {
    padding: 0px 0px;
}

nav {
    min-height: 4em;
    background-color: rgba(60, 60, 60);
    color: white;
}

.er-brand {
    margin-left: 25px;
    color: rgba(255, 255, 255, 0.2);
}

.er-brand-link {
    color: rgba(255, 255, 255, 0.8);
    text-shadow: 0px 0px 7px rgba(178, 43, 43, 0.7);
    font-size: 125%;
    text-decoration: none;
}

.er-brand-link a {
    color: rgba(255, 255, 255, 0.8)!important;
    text-shadow: 0px 0px 7px rgba(178, 43, 43, 0.2);
}

.er-brand-link a:hover {
    color: rgba(255, 255, 255)!important;
    text-shadow: 0px 0px 7px rgba(178, 43, 43, 0.1);
}

.er-brand-link a:active {
    color: rgba(255, 255, 255, 0.2)!important;
    text-shadow: 0px 0px 6px rgba(255, 255, 255, 0.5)!important;
}

.er-nav-icons {
    margin: auto;
}

.er-menu-icon {
    font-size: 2em;
    letter-spacing: 0.50em;
    margin: auto;
}

.er-menu-icon a {
    color: rgba(255, 255, 255, 0.8);
    text-shadow: 0px 0px 7px rgba(178, 43, 43, 0.2);
}

.er-menu-icon-arrow a {
    color: rgba(255, 255, 255, 0.4);
}

.er-menu-icon a:hover {
    color: rgba(255, 255, 255)!important;
    text-shadow: 0px 0px 7px rgba(178, 43, 43, 0.1);
}

.er-menu-icon a:active {
    color: rgba(255, 255, 255, 0.2)!important;
    text-shadow: 0px 0px 6px rgba(255, 255, 255, 0.5);
}

.er-nav-boembep {
    position: absolute;
    left: 50vw;
    transform: translateX(-50%);
    letter-spacing: 8px;
    font-weight: 300;
    color: rgba(255, 255, 255);
}

.er-nav-boembep h2 {
    text-shadow: 0px 0px 7px rgba(178, 43, 43, 0.9);
}

/* ----------------------------------------Section-colors */

#frontpage {
    scroll-snap-align: none;
}

#info {
    background-color: rgba(207, 190, 160, 0.92);
}

#music {
    background-color: rgba(207, 190, 160, 0.92);
}

#download {
    background-color: rgba(207, 190, 160, 0.92);
}

#art {
    background-color: rgba(207, 190, 160, 0.92);
}

#video {
    background-color: rgba(207, 190, 160, 0.92);
}

/* ----------------------------------------Section template with scroll snapping to top */

.er-content {
    min-height: 100vh;
    scroll-snap-align: start;
    width: 100%;
    margin: 0;
}

/* ----------------------------------------Section content */

.er-content-wrapper {
    padding-top: 3em;
    min-height: 60vh;
    margin-top: auto;
    margin-bottom: auto;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

/* ----------------------------------------Section Content building blocks */

.er-content-block {
    margin: 0;
    width: 100%;
}

.er-content-circle {
    width: 100%;
    height: auto;
    margin: auto;
    overflow: hidden;
    border-radius: 50%;
    position: relative;
    top: 50%;
    box-shadow: 5px 5px 5px #a59172;
    transform: translateY(-50%);
}

.er-content-square {
    padding: 15px;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(60, 60, 60, 0.1);
    box-shadow: 0px 0px 25px rgba(60, 60, 60);
}

/* ----------------------------------------Section header and footer */

.er-content-header {
    margin-bottom: 2em;
    text-align: right;
    width: 66%;
    height: 3em;
    overflow: hidden;
    line-height: 3em;
    margin-left: 33%;
    transform: rotate(0deg);
    box-shadow: 1px 1px 1px #ffffffa1;
    background-color: rgba(255, 255, 255, 0.61);
}

.er-header-text {
    margin-right: 15px;
    font-family: 'Allerta Stencil', sans-serif;
    font-weight: 100;
    font-size: 2.5em;
    letter-spacing: 5px;
    text-shadow: 1px 1px 1px #ffffffa1;
    color: rgba(207, 190, 160);
}

.er-content-footer {
    text-align: left;
    width: 65%;
    height: 3em;
    overflow: hidden;
    line-height: 3em;
    margin-top: 3em;
    margin-right: 32%;
    box-shadow: 5px 5px 5px #a59172;
    transform: rotate(-1deg);
    background-color: rgba(0, 0, 0, 0.7);
}

.er-footer-text {
    margin-right: 15px;
    margin-left: 15px;
    font-family: 'Allerta Stencil', sans-serif;
    font-size: 2.5em;
    font-weight: 100;
    letter-spacing: 5px;
    text-shadow: 1px 1px 2px #000000a1;
    color: rgba(207, 190, 160);
}

/* ----------------------------------------Overlay section navigation */

.er-centerscreen {
    position: absolute;
    top: 5.5em;
    right: 0vw;
    color: rgba(60, 60, 60, 0.4);
}

.er-centerscreen a {
    transition-property: all;
    transition-duration: 150ms;
    transition-timing-function: ease-in-out;
    color: rgba(60, 60, 60, 0.3);
}

.er-centerscreen a:hover {
    color: rgba(60, 60, 60);
}

.er-centerscreen a:active {
    color: rgba(60, 60, 60, 0.1);
}

.er-arrow {
    width: 2vw;
    position: absolute;
    right: 2vw;
    text-align: center;
    color: rgba(178, 43, 43, 0.7);
}

.er-arrow a {
    transition-property: all;
    transition-duration: 150ms;
    transition-timing-function: ease-in-out;
    color: rgba(178, 43, 43, 0.6);
}

.er-arrow a:hover {
    font-size: 110%;
    color: rgba(178, 43, 43, 0.9);
}

.er-arrow a:active {
    color: rgba(60, 60, 60, 0.1);
}

.er-arrow-up {
    top: 84vh;
}

.er-arrow-down {
    top: 92vh;
}

.er-arrow-frontpage {
    top: 84vh;
}

/* ----------------------------------------Social icons left side */

.er-social-side {}

.er-social {
    position: fixed;
    z-index: 1;
    left: 3vw;
    transform: translateX(-50%);
    overflow-x: hidden;
    height: 100%;
    text-align: center;
    color: rgba(60, 60, 60, 0.7);
}

.er-social-footer {
    position: absolute;
    z-index: 3;
    left: 3vw;
    transform: translateX(-50%);
    overflow-x: hidden;
    height: 100%;
    text-align: center;
    color: rgba(255, 255, 255, 0.8);
}

.er-social a {
    transition-property: all;
    transition-duration: 150ms;
    transition-timing-function: ease-in-out;
    color: rgba(60, 60, 60, 0.7);
}

.er-social-footer a {
    color: rgba(255, 255, 255, 0.8);
}

.er-social-footer a:active {
    color: rgba(255, 255, 255, 0.8);
}

.er-social a:active {
    color: rgba(60, 60, 60, 0.1)!important;
}

#er-social-first {
    top: 20vh;
}

#er-social-first a:hover {
    color: rgba(61, 91, 153);
}

#er-social-second {
    top: 35vh;
}

#er-social-second a:hover {
    color: rgba(224, 80, 95);
}

#er-social-third {
    top: 50vh
}

#er-social-third a:hover {
    color: rgb(225, 85, 0);
}

#er-social-fourth {
    top: 65vh;
}

#er-social-fourth a:hover {
    color: rgba(255, 0, 0);
}

#er-social-fifth {
    top: 81vh;
}

#er-social-fifth img {
    margin: 0px;
    left: 3vw;
}

/* ----------------------------------------Frontpage section specifics */

.er-sticker {
    position: absolute;
    top: 10vh;
    right: 8vw;
    width: 125px;
    height: 125px;
    border-radius: 50%;
    box-shadow: -4px 2px 7px rgba(60, 60, 60);
}

.er-button {
    font-size: 3em;
    color: rgba(60, 60, 60);
    margin-bottom: 12px;
    padding: 12px 30px 12px 30px;
    border-color: rgba(60, 60, 60);
    border: 1px;
    border-radius: 10px;
    box-shadow: -4px 2px 7px rgba(60, 60, 60);
    background-color: rgba(255, 255, 255, 0.83);
    transition-property: background-color;
    transition-duration: 120ms;
    transition-timing-function: ease-in-out;
}

.er-button:hover {
    color: rgba(255, 255, 255);
    background-color: rgba(60, 60, 60, 0.8);
}

.er-button:active {
    outline: 0!important;
    color: rgba(255, 255, 255);
    background-color: rgba(60, 60, 60);
    box-shadow: 0px 0px 25px rgba(60, 60, 60);
}

.er-frontpage-download {
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    left: 51.5vw;
    transform: translate(-50%, -50%);
    top: 52vh;
    text-align: center;
}

/* ----------------------------------------About section specifics */

.er-content-image {
    margin-left: 25px;
    overflow: hidden;
    width: 200px;
    height: 200px;
    border: 0px;
    border-radius: 3px;
    box-shadow: 5px 5px 5px #a59172;
    float: right;
    transform: rotate(7deg);
}

/* ----------------------------------------Download section specifics */

#flac {
    text-align: right;
    margin-right: 25px;
}

.er-file-download {
    text-align: left;
    margin-bottom: 0.5em;
    color: rgba(60, 60, 60);
}

.er-file-download a {
    color: rgba(60, 60, 60, 0.8);
}

.er-file-download a:hover {
    color: rgba(60, 60, 60)
}

.er-file-download a:active {
    color: rgba(60, 60, 60, 0.2)
}

.er-zip-download {
    margin: 20px 0 20px 0;
    font-size: 120%;
    font-weight: 500;
    text-align: center;
}

.er-tip-download {
    width: 100%;
    padding-right: 15px;
    margin-bottom: 1em;
    text-shadow: 1px 1px 1px #ffffffa1;
    color: rgba(60, 60, 60);
    font-size: 80%;
    font-weight: 300;
    text-align: right;
    box-shadow: 1px 1px 1px #ffffffa1;
    background-color: rgba(255, 255, 255, 0.61);
}

.er-tip-right {
    text-align: left;
    padding-left: 15px;
}

.er-tip a {
    color: rgba(255, 255, 255);
    font-size: 120%;
}

/* ----------------------------------------Video section specifics */

.er-content-video {
    width: 100%;
    height: 100%;
    position: relative;
    padding-bottom: 56.25%;
    /* 16:9 */
    padding-top: 25px;
    height: 0;
}

.er-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#er-content-video-square {
    margin-left: auto;
    width: 90%;
}

/* ----------------------------------------Art section specifics */

#er-image-slider {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

/* ----------------------------------------Create responsive 16:9 aspect ratio iframe */

.er-content-thirds {
    /*    height: 40vh; */
    text-align: center;
}

/* ----------------------------------------Scrolling image section dividers */

.er-scroll-image {
    width: 100vw;
    height: 40vh;
    background-color: rgba(207, 190, 160, 0.92);
    background-position: center center;
    background-attachment: fixed;
    background-size: 100% auto;
    background-repeat: no-repeat;
}

#er-scroll-first {
    background-image: url("../images/inside-right.jpg");
}

#er-scroll-second {
    background-image: url("../images/inside-left.jpg");
}

#er-scroll-third {
    background-image: url("../images/inlay-breehuys.jpg");
}

#er-scroll-fourth {
    background-image: url("../images/inlay-kese.jpg");
}

#back-cover {
    background: url("../images/cover-back.jpg") no-repeat fixed center;
    background-size: contain;
}

/* ----------------------------------------Footer */

.er-footer-right {
    right: 1vw;
    position: absolute;
    top: 19vh;
    overflow: hidden;
}

.er-footer-commons {
    transform: rotate(90deg);
    color: yellow;
    margin-left: auto;
    margin-right: auto;
}

.er-footer {
    width: 87vw;
    margin-left: auto;
    margin-right: auto;
    padding-top: 6em;
    padding-bottom: 3em;
    min-height: 100vh;
    background-color: rgba(60, 60, 60);
}

.er-footer-block {
    padding: 10px;
    text-align: center;
}

.er-footer-block img {
    margin: 25px auto 10px auto;
}

.er-footer-title {
    font-size: 70%;
    font-weight: 300;
    color: rgba(255, 255, 255, 0.6);
}

.er-footer-credit {
    font-size: 90%;
    font-weight: 300;
    color: rgba(255, 255, 255);
}

.er-footer-block a {
    color: rgba(255, 255, 255, 0.8);
}

.er-footer-block a:hover {
    color: rgba(255, 255, 255);
}

.er-footer-block a:active {
    color: rgba(255, 255, 255, 0.2);
}

.er-footer-credit {
    color: rgba(255, 255, 255, 0.8);
}

/* ----------------------------------------Responsive breakpoints */

/* --------------------------576 - SM */

@media(min-width: 576px) {
    .er-nav-icons {
        position: absolute;
        right: 0px;
        margin-right: 25px;
    }
    .er-content-left {
        width: 65%;
    }
}

/* --------------------------768 - MD */

@media(min-width: 768px) {
    .er-frontpage-download {
        top: 56vh;
    }
}

/* --------------------------992 - LG */

@media(min-width: 992px) {
    p {
        margin-right: 50px;
    }

    .er-sticker {
        top: 12vh;
        right: 6vw;
        width: 150px;
        height: 150px;
    }
    .er-content-left {
        width: 100%;
    }
}

/* --------------------------1200 - XL */

@media(min-width: 1200px) {

    .er-sticker {
        top: 15vh;
        right: 6vw;
        width: 175px;
        height: 175px;
    }

    .er-content-left {
        width: 100%;
    }
}